/* 内容区1和内容区2 */
#container-1, #container-2 {
    margin: 20px 20px 0 20px;
    float: left;
    width: 100%;
}
/* 内容区1中的inner1 */
.inner1 {
    margin: 10px 50px;
    padding: 0;
    height: auto;
    width: 900px;
    float: left;
}
/* 表格 */
table {
    width: 100%;
    border: solid #fff;
    border-width: 1px 0px 0px 1px;
    background: #F3EDD5;
    border-collapse: collapse;
    border-spacing: 0;
}
/* 表格中的第一行 */
.td1{
    border: solid #fff;
    border-width: 0px 1px 1px 0px;
    padding: 2px 10px;
    height: 32px;
    font-size: 14px;
    background-color: #a5c4b6;
    color: #FFF;
}
/* 表格中的其他行 */
.td{
    display: table-cell;
    border: solid #fff;
    border-width: 0px 1px 1px 0px;
    padding: 2px 10px;
    width: 25%;
    height: 40px;
    background-color: #f7f3e6;
}
/* 表格中的段落 */
td p{
    font-size: 14px;
    font-family: "Microsoft Yahei";
}
/* 由于表格每列的宽度不同，因此设置了td-L、td-M、td-R */
.td-L{
    display: table-cell;
    border: solid #fff;
    border-width: 1px 1px 0px 0px;
    padding: 2px 10px;
    width: 25%;
    height: 40px;
    background-color: #f7f3e6;
}
.td-M{
    display: table-cell;
    border: solid #fff;
    border-width: 1px 0px 0px 0px;
    padding: 2px 10px;
    width: 50%;
    height: 40px;
    background-color: #f7f3e6;
}
.td-R{
    display: table-cell;
    border: solid #fff;
    border-width: 1px 0px 0px 0px;
    padding: 2px 10px;
    width: 25%;
    height: 40px;
    background-color: #f7f3e6;
}