/* 内容区1和内容区2 */
#container-1, #container-2{
    margin: 20px 20px 0 20px;
    float: left;
    width: 100%;
}
/* >>更多 */
.more {
    font-size: 14px;
    font-weight: normal;
    width: auto;
    color: #106f66;
    float: right;
}
/* 书 */
.book {
    height: auto;
    width: 270px;
    margin: 15px;
    padding: 15px 10px;
    float: left;
    border: 3px solid #F3EDD5;
}
/* 书的封面 */
.book_img {
    width: 210px;
    height: 300px;
    float: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 30px;
}
/* 书名 */
.book_name {
    width: 270px;
    float: left;
    padding: 2px 5px;
}
.book_name p {
    font-size: 18px;
    font-weight: bold;
    color: #106f66;
    text-align: center;
}
/* 书的作者 */
.book_author {
    padding: 2px 5px;
    background: #a5c4b6;
    float: right;
    width: auto;
}
.book_author p {
    font-size: 14px;
    color: #FFF;
}
/* 书的简介 */
.book_intro {
    float: left;
    width: 270px;
}
.book_intro p {
    font-size: 14px;
}
/* 音乐 */
.music {
    height: auto;
    width: 270px;
    margin: 15px;
    padding: 15px 10px;
    float: left;
    border: 3px solid #F3EDD5;
    background: #fff;
}
/* 音乐图片 */
.music_img {
    width: 210px;
    height: auto;
    float: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 30px;
}
/* 歌名 */
.music_name {
    width: 100%;
    padding: 2px 5px;
}
.music_name p {
    font-size: 18px;
    font-weight: bold;
    color: #106f66;
    text-align: center;
}
/* 歌词 */
.music_word {
    border-left: 3px solid #ccc;
    margin: 5px 0;
    padding-left: 20px;
}
.music_word p{
    color: #ccc;
    font-style: italic;
    font-size: 14px;
}