/* 内容区1 */
#container-1 {
    margin: 20px 20px 0 20px;
    float: left;
    width: 100%;
}
#inner1 {
    margin:10px 0 20px 362px;
    padding: 0;
    height: auto;
    width: 450px;
    float: left;
}
#inner1 img {
    border: 6px solid #F3EDD5; 
}
.innerL {
    margin: 10px 40px 28px auto;
    padding: 0;
    height: auto;
    width: 450px;
    float: left;
}
.innerR {
    margin: 50px auto 0 40px;
    padding: 0;
    height: auto;
    width: 450px;
    float: left;
}
/* 段落 */
.innerL p {
    margin: 42px 16px 42px 0;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    float: right;
    border: 3px dashed #F3EDD5; 
}
.innerR p {
    margin: 42px 0 42px 16px;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    float: left;
    border: 3px dashed #F3EDD5; 
}
/* 每一个图片的尺寸和边框 */
#inner1 img {
    width: 240px;
    height: 160px;
}
#img1 img {
    width: 240px;
    height: 160px;
    float: right;
    border: 6px solid #F3EDD5; 
}
#img2 img {
    width: 220px;
    height: 267px;
    float: left;
    border: 6px solid #F3EDD5; 
}
#img3 img {
    width: 140px;
    height: 140px;
    float: right;
    border: 6px solid #F3EDD5; 
}
#img4 img {
    width: 210px;
    height: 140px;
    float: left;
    border: 6px solid #F3EDD5; 
}
#img5 img {
    width: 200px;
    height: 150px;
    float: right;
    border: 6px solid #F3EDD5; 
}