/* 内容区1 */
#container-1 {
    margin: 20px 20px 0 20px;
    float: left;
    width: 100%;
}
/* 内容区2 */
#container-2 {
    margin: 20px 0 0 20px;
    float: left;
    width: 100%;
}
.question {
    margin: 50px 250px 0 250px;
    padding-bottom: 5px;
    float: left;
    width: auto;
    height: auto;
}
.question tr {
    height: 50px;
}
.question tr td {
    width: 150px;
    padding: 0;
    text-align: center;
}
/* 表格 */
table {
    width: 500px;
    background: #f7f3e6;
    border: 2px solid #F3EDD5; 
}
/* 表格中的第一行 */
.td1{
    height: 32px;
    font-size: 16px;
    background-color: #9abeae;
    color: #fff;
    border: 0;
}
/* 表单 */
.question tr td input{
    height: 20px;
    border: 2px solid #F3EDD5;
}
.anwser-lable {
    font-size: 16px;
    color: #83AF9B;
}
textarea {
    border: 2px solid #F3EDD5;
}
/* 图标 */
.icon img {
    width: 75px;
    height: 75px;
}
/* 按钮 */
.submit-buttons {
    text-align: center;
    width: 100%;
    background-color: #EEF6FF;
}
.ui-button {
    display: inline-block;
    position: relative;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #83AF9B;
    border-radius: 10px; 
    background: #9abeae;
}
.ui-button-text {
    padding: .4em 1em;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}