/* 所有的超链接都不要下划线 */
a {
    text-decoration: none;
}
/* 列表不要前面的标志符 */
.ul {
    list-style-type: none;
}
/* 所有的段落 */
p {
    font-size: 16px;
    font-family: "Microsoft Yahei";
    margin: 0;
    line-height: 26px;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/* 页眉区 */
header {
    background: #83AF9B;
    height: 65px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.head {
    display: inline-block;
    width: 284px;
    height: 60px;
    position: absolute;
    left: 4px;
    margin: 10px 0;
}
.head img {
    width: 165px;
    height: 45px;
}
/* 搜索框 */
.search_icon img {
    width: 27px;
    height: 27px;
}
.cont-1 img {
    width: 120px;
    height: 120px;
}
.search {
    float: right;
    margin: 25px 10px 13px 0;
    height: 27px;
}
.keyword {
    float: left;
    background-color: #FFF;
    border: 0;
    color: #87a3a0;
    height: 25px;
}
.search_icon {
    float: left;
}
/* 一级标题 */
h1 {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 10px 0;
    float: left;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #106f66;
}
.container {
    height: 1020px;
    width: 1000px;
    margin: 0 250px;
}
/* 不同的界面使用不同的背景图片 */
#container1 {
    height: 820px;
    background: url("../img/background1.png") no-repeat;
}
#container2 {
    background: url("../img/background2.png") no-repeat;
}
#container3 {
    background: url("../img/background3.png") no-repeat;
}
/* 边栏区 */
aside {
    background: #f7f3e6;
    width: 250px;
    height: 820px;
    margin: 0;
    padding: 0;
    float: left;
}
/* 适用于“个人简介.html”、“个人经历.html”和“联系我.html”的nav */
#nav1 {
    height: 1000px;
    background: #f7f3e6;
    width: 250px;
    margin: 0;
    float: left;
}
/* 适用于“生活点滴.html”和“内容推荐.html”的nav */
.nav2 {
    background: #f7f3e6;
    width: 250px;
    height: 1020px;
    margin: 0;
    padding: 0;
    float: left;
}
.cont-1 {
    width: 120px;
    height: 120px;
    padding: 50px 0 10px 0;
    margin: 0 65px;
}
.cont-2 p {
    text-align: center;
    color: #83AF9B;
}
.cont-3 {
    height: 300px;
}
/* 无序列表 */
ul {
    padding: 0;
}
/* 导航项的一般样式 */
.nav_item {
    position: relative;
    vertical-align: bottom;
    height: 50px;
    margin: 3px 0;
    padding: 0;
}
/* 导航项的特殊样式 */
.nav_item_special {
    position: relative;
    vertical-align: bottom;
    height: 50px;
    margin: 3px 0;
    padding: 0;
    background: #D0C2A8;
}
/* 鼠标停留在导航项上时的样式 */
.nav_item:hover {
    background: #D0C2A8;
}
/* 导航项图标 */
.item-icon {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    float: left;
}
/* 导航项图标 */
.item-icon img {
    width: 24px;
    height: 24px;
    margin: 13px 0;
}
/* 导航项名称 */
.item-name {
    height: 50px;
    width: 130px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    float: left;
}
/* 导航项的超链接 */
li.nav_item a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: "Microsoft Yahei";
    color: #83AF9B;
}
/* 导航项的特殊样式的超链接 */
li.nav_item_special a{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: "Microsoft Yahei";
    color: #FFFCF5;
}
/* 停留在导航项超链接上的特殊样式 */
li.nav_item a:hover{
    color: #FFFCF5;
}
/* 页脚区 */
footer {
    background: #83AF9B;
    height: 65px;
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
